flows.json
[
    {
        "id": "a75c0d830d86e06f",
        "type": "tab",
        "label": "MQTT Cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "232468d5bb983c97",
        "type": "ui_switch",
        "z": "a75c0d830d86e06f",
        "name": "",
        "label": "Main Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "e2256167205d76b0"
            ]
        ]
    },
    {
        "id": "e2256167205d76b0",
        "type": "mqtt out",
        "z": "a75c0d830d86e06f",
        "name": "",
        "topic": "hero/esp/lamp/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce95fa31b4f9ed3b",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a087659538dc84a",
        "type": "ui_switch",
        "z": "a75c0d830d86e06f",
        "name": "",
        "label": "Cove Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "e45d1c67aba3cde1"
            ]
        ]
    },
    {
        "id": "e45d1c67aba3cde1",
        "type": "mqtt out",
        "z": "a75c0d830d86e06f",
        "name": "",
        "topic": "hero/esp/lamp/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce95fa31b4f9ed3b",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "257f3ddcee17ab5e",
        "type": "ui_switch",
        "z": "a75c0d830d86e06f",
        "name": "",
        "label": "Bedsite Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "7091fe63bac2a18c"
            ]
        ]
    },
    {
        "id": "7091fe63bac2a18c",
        "type": "mqtt out",
        "z": "a75c0d830d86e06f",
        "name": "",
        "topic": "hero/esp/lamp/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce95fa31b4f9ed3b",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "dee56192daba2932",
        "type": "mqtt out",
        "z": "a75c0d830d86e06f",
        "name": "",
        "topic": "hero/esp/door",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce95fa31b4f9ed3b",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "7508f36789ea1e86",
        "type": "ui_button",
        "z": "a75c0d830d86e06f",
        "name": "",
        "group": "b76b175eb1c06672",
        "order": 3,
        "width": "5",
        "height": "3",
        "passthru": false,
        "label": "Door Lock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "dee56192daba2932"
            ]
        ]
    },
    {
        "id": "d882d226ab44a9d9",
        "type": "ui_group",
        "name": "Lamp",
        "tab": "1e5f2c4c4d826db9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce95fa31b4f9ed3b",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b76b175eb1c06672",
        "type": "ui_group",
        "name": "Door",
        "tab": "1e5f2c4c4d826db9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e5f2c4c4d826db9",
        "type": "ui_tab",
        "name": "Smart Home",
        "icon": "device_hub",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]