flows.json
[
    {
        "id": "a33de4d20178b12d",
        "type": "tab",
        "label": "MQTT Cloud",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f0a2dad79a8cc1c3",
        "type": "ui_switch",
        "z": "a33de4d20178b12d",
        "name": "",
        "label": "Main Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "60fde984d929a5fc"
            ]
        ]
    },
    {
        "id": "60fde984d929a5fc",
        "type": "mqtt out",
        "z": "a33de4d20178b12d",
        "name": "",
        "topic": "hero/esp/lamp/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e073379bd4e33a61",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "fbbf58b427ba47f2",
        "type": "ui_switch",
        "z": "a33de4d20178b12d",
        "name": "",
        "label": "Cove Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "efb63a998ef232f3"
            ]
        ]
    },
    {
        "id": "efb63a998ef232f3",
        "type": "mqtt out",
        "z": "a33de4d20178b12d",
        "name": "",
        "topic": "hero/esp/lamp/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e073379bd4e33a61",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "9a965827e0c9ccc1",
        "type": "ui_switch",
        "z": "a33de4d20178b12d",
        "name": "",
        "label": "Bedsite Lamp",
        "tooltip": "",
        "group": "d882d226ab44a9d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "519fbcfb52fc4843"
            ]
        ]
    },
    {
        "id": "519fbcfb52fc4843",
        "type": "mqtt out",
        "z": "a33de4d20178b12d",
        "name": "",
        "topic": "hero/esp/lamp/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e073379bd4e33a61",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "65324f4578067b89",
        "type": "mqtt out",
        "z": "a33de4d20178b12d",
        "name": "",
        "topic": "hero/esp/door",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e073379bd4e33a61",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "6e9b5008479f5663",
        "type": "ui_button",
        "z": "a33de4d20178b12d",
        "name": "",
        "group": "c494aab954f01daf",
        "order": 3,
        "width": "5",
        "height": "3",
        "passthru": false,
        "label": "Door Lock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "65324f4578067b89"
            ]
        ]
    },
    {
        "id": "2d7dbd6e467592b2",
        "type": "ui_button",
        "z": "a33de4d20178b12d",
        "name": "",
        "group": "c494aab954f01daf",
        "order": 3,
        "width": "5",
        "height": "3",
        "passthru": false,
        "label": "Door Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "65324f4578067b89"
            ]
        ]
    },
    {
        "id": "d882d226ab44a9d9",
        "type": "ui_group",
        "name": "switch",
        "tab": "57b7afb160180d4c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e073379bd4e33a61",
        "type": "mqtt-broker",
        "name": "mqtt-cloud",
        "broker": " ws://mqtt-cloud-atmduino.herokuapp.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c494aab954f01daf",
        "type": "ui_group",
        "name": "Door",
        "tab": "57b7afb160180d4c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57b7afb160180d4c",
        "type": "ui_tab",
        "name": "smartHome",
        "icon": "home",
        "disabled": false,
        "hidden": false
    }
]
